<div mat-dialog-title class="text-lg font-bold">Nuevo Dispositivo</div>
<mat-dialog-content>
  <form [formGroup]="registerForm">
    <mat-form-field class="full-width" style="margin-top: 10px;">
      <mat-label>Nombre del Sensor</mat-label>
      <input matInput formControlName="sensorName">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Modelo</mat-label>
      <input matInput formControlName="model">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>MAC</mat-label>
      <input matInput formControlName="mac">
    </mat-form-field>

    <!-- Menús de selección alineados verticalmente -->
    <mat-form-field class="full-width">
      <mat-label>Departamento</mat-label>
      <mat-select formControlName="department" (selectionChange)="filtrarCiudades($event.value)">
        <mat-option *ngFor="let dep of departamentos" [value]="dep.id">
          {{ dep.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <mat-label>Ciudad</mat-label>
      <mat-select formControlName="city">
        <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad.id">
          {{ ciudad.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-slide-toggle formControlName="switchOutput">Salida Activada</mat-slide-toggle>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button class="cancel-button" (click)="close()">
    <mat-icon>close</mat-icon> Cancelar
  </button>
  <button mat-flat-button color="primary" (click)="save()" [disabled]="registerForm.invalid">
    <mat-icon>save</mat-icon> Guardar
  </button>
</mat-dialog-actions>
