<div class="container" cdkDropList cdkDropListOrientation="mixed"
     (cdkDropListDropped)="onDrop($event)" (cdkDropListSorted)="onDropListSorted($event)">
  @for (widget of _widgets; track widget) {
    <div class="widget" cdkDrag (cdkDragStarted)="onDragStarted($event)"
         [style.--emr-dashboard-widget-area]="getWidgetArea(widget)">
      <ng-container [ngTemplateOutlet]="getWidgetTemplate(widget.type)"
                    [ngTemplateOutletContext]="{ $implicit: widget }" />
      <div [style.grid-area]="getWidgetArea(widget)" class="bg-neutral-100 rounded-lg" *cdkDragPlaceholder></div>
    </div>
  }
</div>

<!--[cdkDragConstrainPosition]="dragConstrainPosition"-->
