<div class="invoice-container flex flex-col items-center justify-center gap-3 mt-5" id="invoice">
  <h1 class="text-xl font-bold">Reporte de Consumo de Energía</h1>
  <p><strong>Desde:</strong> {{ data.startDate }} - <strong>Hasta:</strong> {{ data.endDate }}</p>

  <table class="w-full border-collapse border border-gray-300 mt-4">
    <thead class="bg-gray-100">
      <tr class="text-center">
        <th class="border border-gray-300 px-2 py-1">Fecha</th>
        <th class="border border-gray-300 px-2 py-1">Energía (kWh)</th>
        <th class="border border-gray-300 px-2 py-1">condumo del dia (kWh)</th>
        <th class="border border-gray-300 px-2 py-1">Potencia Promedio (W)</th>
        <th class="border border-gray-300 px-2 py-1">Pico de Potencia (W)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let report of reportData">
        <td class="border border-gray-300 px-2 py-1">{{ report.date }}</td>
        <td class="border border-gray-300 px-2 py-1">{{ report.totalEnergyKwh }}</td>
        <td class="border border-gray-300 px-2 py-1">{{ report.todaysEnergyKwh }}</td>
        <td class="border border-gray-300 px-2 py-1">{{ report.averagePowerW }}</td>
        <td class="border border-gray-300 px-2 py-1">{{ report.peakPowerW }}</td>
      </tr>
    </tbody>
  </table>

  <div class="mt-4 text-right font-bold">
    <p>Total Consumido: {{ totalConsumption }} kWh</p>
  </div>

  <button class="bg-blue-500 text-white px-4 py-2 mt-3" (click)="exportPDF()">Exportar a PDF</button>
</div>