<div class="p-10 space-y-6">
  <div class="flex items-center justify-between">
    <h1 class="text-lg font-bold">Dellalles de cartel</h1>
    <div>
      <mat-form-field class="date-range-input">
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>
  <div class="flex items-end gap-10">
    <div>
      <div class="text-md text-neutral">
        Nombre del Cartel
      </div>
      <div class="font-bold text-4xl mt-1 uppercase">
        {{ device?.sensorName || 'Cargando...' }}
      </div>
    </div>
    <div class="flex items-center gap-4">
      <button mat-flat-button>
        <mat-icon>fingerprint</mat-icon>{{ device?.mac || 'Cargando...' }}
      </button>
      <button mat-flat-button>
        <mat-icon>lightbulb_circle</mat-icon>{{ device?.model || 'Cargando...' }}
      </button>
      <button mat-flat-button [color]="device?.state ? 'primary' : 'warn'">
        <mat-icon>power_settings_new</mat-icon>
        {{ device?.state ? 'Encendido' : 'Apagado' }}
      </button>      
    </div>
  </div>
  <mat-card class="map-card">
    <google-map height="400px" width="100%" [center]="center" [zoom]="zoom">
      <map-marker [position]="markerPosition" title="Ubicación del dispositivo"></map-marker>
    </google-map>
  </mat-card>
  <emr-dashboard [configs]="configs" [widgets]="widgets"></emr-dashboard>
</div>
<mat-date-range-picker #picker/>
